section {
    padding: 60px 0;
  }

  .padre {
    display: flex;
    justify-content: center;
  }

  .my-pagination /deep/ .ngx-pagination .current {
    font-size: larger;
  }

  .my-pagination /deep/ {
    font-size: medium;
  }
