<div
  class="modal fade"
  id="modalEmpresa"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{
            !this.dataApi.SelectedEmpresa.empresaId
              ? "Nuevo registro"
              : "Actualizar registro"
          }}
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form
          #formEmpresa="ngForm"
          [formGroup]="UsuarioForm"
          (ngSubmit)="onSaveEmpresa(formEmpresa)"
        >
          <input
            type="hidden"
            name="EmpresaId"
            [(ngModel)]="this.dataApi.SelectedEmpresa.empresaId"
            formControlName="EmpresaId"
          />
          <input type="hidden" name="userUid" [value]="userUid" />

          <!--<div class="form-group noRequired">
      <h5>Seleccionar imagen:</h5>
      <input formControlName="Foto" id='file_input' type="file" accept=".png, .jpg" (change)="onUpload($event)" style=" color:transparent;  width:155px;" style="display:none;">
      <img src="https://media.licdn.com/dms/image/C4E0BAQGtTED2gCqfwA/company-logo_200_200/0?e=2159024400&v=beta&t=74WfkzA5dSIitR6XKT54Sjsl4uCzBg9WXVPiHGEgczQ" id='image_input' />
    </div>-->

          <div
            class="form-group noRequired"
            *ngIf="this.dataApi.SelectedEmpresa.empresaId == null; else noPhoto"
          >
            <label class="col-form-label"
              >Click en la imagen para actualizar el logo de la entidad.</label
            >
            <div class="image-upload">
              <label for="file-input">
                <img
                  [src]="imageSrc || 'assets/user.png'"
                  width="100"
                  alt="Click aquí para subir el logo de la entidad"
                  title="Click aquí para subir el logo de la entidad"
                />
              </label>
              <input
                id="file-input"
                name="Foto"
                formControlName="Foto"
                type="file"
                (change)="readURL($event)"
                accept=".png, .jpg"
              />
            </div>
          </div>

          <ng-template #noPhoto>
            <div class="form-group noRequired">
              <label class="col-form-label"
                >Click en la imagen para actualizar el logo de la
                entidad.</label
              >
              <div class="image-upload">
                <label for="file-input">
                  <img
                    [src]="
                      imageSrc ||
                      this.dataApi.SelectedEmpresa.empresaLogoFullPath
                    "
                    width="100"
                    alt="Click aquí para subir el logo de la entidad"
                    title="Click aquí para subir el logo de la entidad"
                  />
                </label>
                <input
                  id="file-input"
                  name="Foto"
                  formControlName="Foto"
                  type="file"
                  (change)="readURL($event)"
                  accept=".png, .jpg"
                />
              </div>
            </div>
          </ng-template>

          <div class="form-group required">
            <label for="EmpresaNombre" class="col-form-label">Nombre:</label>

            <input
              type="text"
              class="form-control"
              name="EmpresaNombre"
              [(ngModel)]="this.dataApi.SelectedEmpresa.empresaNombre"
              maxlength="70"
              formControlName="EmpresaNombre"
              placeholder="Ingrese el nombre de la entidad"
            />

            <div
              class="alert-danger"
              *ngIf="
                EmpresaNombre.invalid &&
                (EmpresaNombre.dirty || EmpresaNombre.touched)
              "
            >
              <div
                *ngFor="
                  let validation of user_validation_messages.EmpresaNombre
                "
              >
                <div
                  style="font-size: smaller !important"
                  *ngIf="
                    UsuarioForm.get('EmpresaNombre').hasError(
                      validation.type
                    ) &&
                    (UsuarioForm.get('EmpresaNombre').dirty ||
                      UsuarioForm.get('EmpresaNombre').touched)
                  "
                >
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group required">
            <label for="EmpresaColor">Color</label>
            <input
              type="color"
              name="EmpresaColor"
              class="form-control"
              [(ngModel)]="this.dataApi.SelectedEmpresa.empresaColor"
              formControlName="EmpresaColor"
            />
            <div
              class="alert-danger"
              *ngIf="
                EmpresaColor.invalid &&
                (EmpresaColor.dirty || EmpresaColor.touched)
              "
            >
              <div
                *ngFor="let validation of user_validation_messages.EmpresaColor"
              >
                <div
                  style="font-size: smaller !important"
                  *ngIf="
                    UsuarioForm.get('EmpresaColor').hasError(validation.type) &&
                    (UsuarioForm.get('EmpresaColor').dirty ||
                      UsuarioForm.get('EmpresaColor').touched)
                  "
                >
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              (click)="CerrarE(formEmpresa)"
              class="btn btn-secondary"
              #btnClose
              data-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
