<section id="TMFGroup" class=" mt-5">
  
  <h1>Reporte</h1>
  
  <div class="container">
  
	<table cellpadding="10" >
	
	  <tr>
		<td width="5%"><b>Configuración</b></td>
  
		<td width="30%"><select  id="configuracionSua" name="configuracionSua" class="form-control" [(ngModel)]="configuracionSua" (change)="tipoConfig()">
		  <option *ngFor="let configuracionSua of configuracionSuas; let index = index" [ngValue]="configuracionSua">{{configuracionSua.confSuaNombre}}</option>
		  </select></td>

		  <td width="5%"><b>Tipo periodo</b></td>

        <td width="30%"><select disabled="disabled"  id="selectPeriodo" name="periodoTipoId" class="form-control"
            [(ngModel)]="selectPeriodo"  >

            <option *ngFor="let periodoTipo of tipoPeriodos; let index = index" [ngValue]="periodoTipo">
              {{periodoTipo.tipoPeriodoNombre}}</option>
          </select></td>
  
	  </tr>
  
	  <tr>
		<td width="5%" *ngIf="this.selectPeriodo.tipoPeriodoId == 2; else noOwner"><b>Bimestre</b></td>

		<td width="30%" *ngIf="this.selectPeriodo.tipoPeriodoId == 2;"><select id="bimestres" name="bimestres" class="form-control" [(ngModel)]="selectBimestre">
			<option *ngFor="let bimestre of bimestres; let index = index" [ngValue]="bimestre">
			  {{bimestre.bimestreNombre}}</option>
		  </select></td>

	  <ng-template #noOwner>
		<td width="5%"><b>Mes</b></td>

		<td width="30%"><select id="meses" name="meses" class="form-control" [(ngModel)]="selectMes">
			<option *ngFor="let mes of meses; let index = index" [ngValue]="mes">{{mes.mesNombre}}</option>
		  </select></td>
	  </ng-template>
  
		<td width="5%"><b>Año</b></td>
  
		<td width="30%"><select id="anios" name="anios" class="form-control" [(ngModel)]="selectAnio">
		  <option *ngFor="let anio of anios; let index = index" [ngValue]="anio">{{anio.anioValor}}</option>
		  </select></td>
	  </tr>
  
	</table>

	<button (click)="GenerarReporte()" class="btn btn-lg btn-primary btn-block">Generar</button>
  </div>

</section>



