<p>reporte-comparar-sua works!</p>
<p>reporte-comparar-sua works!</p>

<p>reporte-comparar-sua works!</p>

<p>reporte-comparar-sua works!</p>

<p>reporte-comparar-sua works!</p>

<button (click)="GenerarReporte()" class="btn btn-lg btn-primary btn-block">Generar</button>


<table id="data-table">
	<tbody><tr>
		<th id="A01" class="bold center">Text</th>
		<th id="B01" class="bold center">Number</th>
		<th id="C01" class="bold center">Rich</th>
		<th id="D01"><span class="bold center" wfd-id="20">Span</span></th>
	</tr>
	<tr>
		<td id="A02" class="bold">This is Bold</td>
		<td id="B02" class="bold right">123</td>
		<td id="C02">This is <b>Bold</b></td>
		<td id="D02"><span class="bold" wfd-id="19">This is Bold</span></td>
	</tr>
	<tr>
		<td id="A03" class="italic">This is Italic</td>
		<td id="B03" class="italic right">234</td>
		<td id="C03">This is <i>Italic</i></td>
		<td id="D03"><span class="italic" wfd-id="18">This is Italic</span></td>
	</tr>
	<tr>
		<td id="A04" class="uline">This is Underline</td>
		<td id="B04" class="uline right">345</td>
		<td id="C04">This is <u>Underline</u></td>
		<td id="D04"><span class="uline" wfd-id="17">This is Underline</span></td>
	</tr>
	<tr>
		<td id="A05" class="strike">This is Stricken</td>
		<td id="B05" class="strike right">456</td>
		<td id="D05"><span class="strike" wfd-id="16">This is Stricken</span></td>
	</tr>
	<tr>
		<td id="A06" class="px18">This is 18 px</td>
		<td id="B06" class="px18 right">567</td>
		<td id="C06">This is <span class="px18" wfd-id="15">18 px</span></td>
		<td id="D06"><span class="px18" wfd-id="14">This is 18 px</span></td>
		</tr>
	<tr>
		<td id="A07" class="sup">This is superscript</td>
		<td id="B07" class="sup right">678</td>
		<td id="C07">This is <sup>superscript</sup></td>
		<td id="D07"><span class="sup" wfd-id="13">This is superscript</span></td>
	</tr>
	<tr>
		<td id="A08" class="sub">This is subscript</td>
		<td id="B08" class="sub right">789</td>
		<td id="C08">This is <sub>subscript</sub></td>
		<td id="D08"><span class="sub" wfd-id="12">This is subscript</span></td>
	</tr>
	<tr>
		<td id="A09" class="rtext">This is red</td>
		<td id="B09" class="rtext right">135</td>
		<td id="C09">This is <span class="rtext" wfd-id="11">red</span></td>
		<td id="D09"><span class="rtext" wfd-id="10">This is red</span></td>
	</tr>
	<tr>
		<td id="A10" class="gtext">This is green</td>
		<td id="B10" class="gtext right">246</td>
		<td id="C10">This is <span class="gtext" wfd-id="9">green</span></td>
		<td id="D10"><span class="gtext" wfd-id="8">This is green</span></td>
	</tr>
	<tr>
		<td id="A11" class="times">This is Times</td>
		<td id="B11" class="times right">357</td>
		<td id="C11">This is <span class="times" wfd-id="7">Times</span></td>
		<td id="D11"><span class="times" wfd-id="6">This is Times</span></td>
	</tr>
	<tr>
		<td id="A12" class="bold italic uline">This is BIU</td>
		<td id="B12" class="bold italic uline right">159</td>
		<td id="C12">This is 0<b>1<i>3</i></b><i>2</i><u>4<b>5<i>7</i></b><i>6</i></u> yes</td>
		<td id="D12"><span class="bold italic uline" wfd-id="5">This is BIU</span></td>
	</tr>
	<tr>
		
		<td id="C13" style="background-color: blue; color: white">White on Blue</td>
	</tr>
	<tr>
		<td id="A14">Standard
Newline</td>
		<td id="B14" style="white-space: pre">W  S</td>
		<td id="C14">BR<br>New  line</td>
		<td id="D14"><span class="wrap" wfd-id="3">Pre
New  line</span></td>
	</tr>
	<tr style="height: 100px">
		<td id="A15">Height</td>
		<td id="B15" class="right">100</td>
		<td id="C15">px (not pt)</td>
		<td id="D15"><span wfd-id="2">yeah</span></td>
	</tr>
	<tr style="height: 80px">
		<td id="A16" class="top    left">Top Left</td>
		<td id="B16" class="middle center">80</td>
		<td id="C16" class="middle center">Middle Center</td>
		<td id="D16" class="bottom right"><span wfd-id="1">Bottom Right</span></td>
	</tr>
	<tr style="height: 60px">
		<td id="A17" class="top    right">Top Right</td>
		<td id="B17" class="middle right">60</td>
		<td id="C17" class="bottom center">Bottom Center</td>
		<td id="D17" class="bottom left"><span wfd-id="0">Bottom Left</span></td>
	</tr>
</tbody></table>