<section id="TMFGroup" class="mt-5">
  <h1>Cargar recibos</h1>

  <div class="container">
    <table cellpadding="10">
      <tr>
        <td width="5%"><b>Empresa</b></td>

        <td width="30%">
          <select
            id="selectEmpresa"
            name="empresas"
            class="form-control"
            [(ngModel)]="selectEmpresa"
          >
            <option
              *ngFor="let empresa of empresas; let index = index"
              [ngValue]="empresa"
            >
              {{ empresa.empresaNombre }}
            </option>
          </select>
        </td>
      </tr>

      <tr>
        <td width="5%"><b>Tipo periodo</b></td>

        <td width="30%">
          <select
            id="selectPeriodoTipo"
            name="periodoTipos"
            class="form-control"
            [(ngModel)]="selectPeriodoTipo"
          >
            <option
              *ngFor="let periodoTipo of periodoTipos; let index = index"
              [ngValue]="periodoTipo"
            >
              {{ periodoTipo.periodoTipoNombre }}
            </option>
          </select>
        </td>

        <td width="5%"><b>Mes</b></td>

        <td width="30%">
          <select
            id="meses"
            name="meses"
            class="form-control"
            [(ngModel)]="selectMes"
          >
            <option
              *ngFor="let mes of meses; let index = index"
              [ngValue]="mes"
            >
              {{ mes.mesNombre }}
            </option>
          </select>
        </td>
      </tr>

      <tr>
        <td width="5%"><b>Año</b></td>

        <td width="30%">
          <select
            id="anios"
            name="anios"
            class="form-control"
            [(ngModel)]="selectAnio"
          >
            <option
              *ngFor="let anio of anios; let index = index"
              [ngValue]="anio"
            >
              {{ anio.anioValor }}
            </option>
          </select>
        </td>

        <td width="5%"><b>Periodo número</b></td>

        <td width="30%" *ngIf="this.selectPeriodoTipo.periodoTipoId == 1">
          <select
            id="periodoNumeroM"
            name="periodoNumeroM"
            class="form-control"
            [(ngModel)]="selectPeriodoNumeroM"
          >
            <option
              *ngFor="let periodoNumero of periodoNumerosM; let index = index"
              [ngValue]="periodoNumero"
            >
              {{ periodoNumero.periodoNumeroNombre }}
            </option>
          </select>
        </td>

        <td width="30%" *ngIf="this.selectPeriodoTipo.periodoTipoId == 2">
          <select
            id="periodoNumeroQ"
            name="periodoNumeroQ"
            class="form-control"
            [(ngModel)]="selectPeriodoNumeroQ"
          >
            <option
              *ngFor="let periodoNumero of periodoNumerosQ; let index = index"
              [ngValue]="periodoNumero"
            >
              {{ periodoNumero.periodoNumeroNombre }}
            </option>
          </select>
        </td>

        <td width="30%" *ngIf="this.selectPeriodoTipo.periodoTipoId == 3">
          <select
            id="periodoNumeroS"
            name="periodoNumeroS"
            class="form-control"
            [(ngModel)]="selectPeriodoNumeroS"
          >
            <option
              *ngFor="let periodoNumero of periodoNumerosS; let index = index"
              [ngValue]="periodoNumero"
            >
              {{ periodoNumero.periodoNumeroNombre }}
            </option>
          </select>
        </td>
      </tr>
    </table>
  </div>

  <p></p>
  <table class="table">
    <tr>
      <div class="container">
        <div class="card">
          <th>
            <div class="container">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label class="control-label">Archivo</label>
                  <input
                    type="file"
                    class="form-control"
                    (change)="readURL($event)"
                    placeholder="Cargar archivo"
                    accept=".zip,.rar,.7zip"
                    #myInput
                  />
                  <p></p>
                </div>
              </div>
            </div>
          </th>
        </div>
        <p></p>
        <button
          (click)="cargarArchivo()"
          class="btn btn-lg btn-primary btn-block"
        >
          Cargar información
        </button>
      </div>
    </tr>
  </table>
</section>
