<section id="login" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto main-section">
          <div class="card_login">
            <div class="card">
              <div class="card-body text-center">
                <form #formLogin="ngForm" [formGroup]="UsuarioForm" (submit)="AsignarPass()">
                  <h1 class="h3 mb-3 font-weight-normal">Asignar nueva contraseña</h1>
  
                  <div class="form-group">
                    <input formControlName="PasswordLogin" type="password" id="PasswordLogin" name="PasswordLogin" class="form-control" placeholder="Contraseña" required>
  
                    <div class="alert-danger" *ngIf="PasswordLogin.invalid && (PasswordLogin.dirty || PasswordLogin.touched)">
  
                      <div *ngFor="let validation of user_validation_messages.PasswordLogin">
                        <div style="font-size: smaller !important;" *ngIf="UsuarioForm.get('PasswordLogin').hasError(validation.type) && (UsuarioForm.get('PasswordLogin').dirty || UsuarioForm.get('PasswordLogin').touched)">
                          {{validation.message}}
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <input formControlName="ConfirmLogin" type="password" id="ConfirmLogin" name="ConfirmLogin" class="form-control" placeholder="Confirmar contraseña" required>
  
                    <div class="alert-danger" *ngIf="ConfirmLogin.invalid && (ConfirmLogin.dirty || ConfirmLogin.touched)">
  
                      <div *ngFor="let validation of user_validation_messages.ConfirmLogin">
                        <div style="font-size: smaller !important;" *ngIf="UsuarioForm.get('ConfirmLogin').hasError(validation.type) && (UsuarioForm.get('ConfirmLogin').dirty || UsuarioForm.get('ConfirmLogin').touched)">
                          {{validation.message}}
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Confirmar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  