<div class="modal fade"  id="modalSUA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">
            {{!this.dataApi.SelectedconfiguracionSua.configuracionSuaId ? 'Nuevo registro' : 'Actualizar registro'}}
          </h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <form #formSua="ngForm" [formGroup]="configSuaForm">
                <input type="hidden" formControlName="configuracionSuaId" name="configuracionSuaId" [(ngModel)]="this.dataApi.SelectedconfiguracionSua.configuracionSuaId">
                <div class="form-group required">
                <label for="confSuaNombre" class="col-form-label">Configuración nombre</label>
                <input type="text" class="form-control" [(ngModel)]="this.dataApi.SelectedconfiguracionSua.confSuaNombre" name="confSuaNombre" formControlName="confSuaNombre" placeholder="Ingrese el nombre de la configuración">

                    <div class="alert-danger" *ngIf="confSuaNombre.invalid && (confSuaNombre.dirty || confSuaNombre.touched)">
    
                        <div *ngFor="let validation of user_validation_messages.confSuaNombre">
                        <div style="font-size: smaller !important;" *ngIf="configSuaForm.get('confSuaNombre').hasError(validation.type) && (configSuaForm.get('confSuaNombre').dirty || configSuaForm.get('confSuaNombre').touched)">
                            {{validation.message}}
                        </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="card_book">
                <div class="card">
                  <div class="card-body">
          <form #formSuaNivel="ngForm" [formGroup]="configSuaNivelForm">
            <input type="hidden" formControlName="configuracionSuaNivelId" name="configuracionSuaNivelId">
            <!--<input type="hidden" name="userUid" [value]="userUid">-->
  
            <div class="form-group required">
              <label for="confSuaNNombre" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" name="confSuaNNombre" maxlength="50" formControlName="confSuaNNombre" placeholder="Ingrese el nombre de la columna">
  
              <div class="alert-danger" *ngIf="confSuaNNombre.invalid && (confSuaNNombre.dirty || confSuaNNombre.touched)">
  
                <div *ngFor="let validation of user_validation_messages.confSuaNNombre">
                  <div style="font-size: smaller !important;" *ngIf="configSuaNivelForm.get('confSuaNNombre').hasError(validation.type) && (configSuaNivelForm.get('confSuaNNombre').dirty || configSuaNivelForm.get('confSuaNNombre').touched)">
                    {{validation.message}}
                  </div>
                </div>
              </div>
            </div> 
          </form>
  
            <form #formSuaExcel="ngForm" [formGroup]="suaExcelForm">
            <div class="form-row required">
                <div class="form-group col-md-6">
                <label for="tipoPeriodoId" class="col-form-label">Tipo periodo:</label>
                <!-- <input type="text" class="form-control" name="tipoPeriodoId"  maxlength="50" formControlName="tipoPeriodoId" placeholder="Ingrese el tipo de periodo"> -->
                <select name="tipoPeriodoId" class="form-control" formControlName="tipoPeriodoId" style="width: 100%;
                margin: 8px 0 0 0;">
                  <!-- <option [value]="i.excelTipoId" *ngFor="let i of periodoTipos">{{i.excelTipoNombre}}</option> -->
                  <option value="1">SUA</option>
                  <option value="2">EMA</option>
                  <option value="2">EBA</option>
                </select>
    
                <div class="alert-danger" *ngIf="tipoPeriodoId.invalid && (tipoPeriodoId.dirty || tipoPeriodoId.touched)">
    
                  <div *ngFor="let validation of user_validation_messages.tipoPeriodoId">
                    <div style="font-size: smaller !important;" *ngIf="suaExcelForm.get('tipoPeriodoId').hasError(validation.type) && (suaExcelForm.get('tipoPeriodoId').dirty || suaExcelForm.get('tipoPeriodoId').touched)">
                      {{validation.message}}
                    </div>
                  </div>
                </div>
              </div> 

              <div class="form-group col-md-6 required">
                <label for="excelColumnaId" class="col-form-label">Columna:</label>
                <!-- <input type="text" class="form-control"  name="excelColumnaId" maxlength="50" formControlName="excelColumnaId" placeholder="Ingrese la columna"> -->
                <div class="ng-autocomplete">
                  <ng-autocomplete 
                  name="excelColumnaId" formControlName="excelColumnaId" 
                    [data]="excelList"
                    [searchKeyword]="keyword"
                    placeholder="Ingresa el nombre de la columna"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">                                 
                  </ng-autocomplete>
                  
                  <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.excelColumnaNombre"></a>
                  </ng-template>
                  
                  <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                  </ng-template>
                  </div>
    
                <div class="alert-danger" *ngIf="excelColumnaId.invalid && (excelColumnaId.dirty || excelColumnaId.touched)">
    
                  <div *ngFor="let validation of user_validation_messages.excelColumnaId">
                    <div style="font-size: smaller !important;" *ngIf="suaExcelForm.get('excelColumnaId').hasError(validation.type) && (suaExcelForm.get('excelColumnaId').dirty || suaExcelForm.get('excelColumnaId').touched)">
                      {{validation.message}}
                    </div>
                  </div>
                </div>
              </div> 
            </div>

              <div class="agregar">
                <button (click)="agregarLinea(formSuaExcel)"  class="btn btn-primary">Agregar</button>
            </div>
  
            <div>
                <h2>Columnas</h2>
                <table class="table table-hover">
                    <tr>
                        <th>No.</th>
                        <th>Archivo</th>
                        <th>Columna</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    <tr *ngFor="let item of suaExcel ; let id = index">
                        <th>{{id+1}}</th>
                        <th>{{item.tipoPeriodoId}}</th>
                        <th>{{item.excelColumnaId}}</th>
                        <th>
                            <button class="btn btn-danger" (click)="quitarLinea(id)">Eliminar</button>
                        </th>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
              <button type="button" (click)="limpiar()" class="btn btn-secondary">Limpiar</button>
              <button (click)="agregarNivel(formSuaNivel)" class="btn btn-primary form-actions">Guardar</button>
            </div>
  
          </form>
                  </div>
                </div>
            </div>
          <div>
            <h2>Niveles</h2>
            <table class="table table-hover">
                <tr *ngFor="let item of configuracionSuaNivel ; let id = index">
                  <table class="table table-hover"> 
                        <tr>
                        <th width="10%">{{id+1}} </th>
                        <th width="20%">{{item.confSuaNNombre}}</th>
                        <th scope="col">&nbsp;</th>
                        <button (click)="quitarNivel(id)" class="btn btn-danger">Eliminar</button>
                      </tr>
                      
                          <tr *ngFor="let itemSua of item.suaExcel ; let id = index">
                            <th scope="col">&nbsp;</th>
                              <td >{{id+1}}</td>
                              <td>{{itemSua.tipoPeriodoId}}</td>
                              <td>{{itemSua.excelColumnaId}}</td>
                          </tr>
                      </table>
                    
                    
                </tr>
            </table>
        </div>

        <div class="modal-footer">
            <button type="button" (click)="CerrarMSua(formSua,formSuaNivel,formSuaExcel)" class="btn btn-secondary" #btnClose data-dismiss="modal">Cerrar</button>
            <button (click)="guardarConfiguracion(formSua,formSuaNivel,formSuaExcel)" class="btn btn-primary form-actions">Guardar configuración</button>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <!-- <p>fdfsdf</p>
<p>fdfsdf</p>
<p>fdfsdf</p>
<p>fdfsdf</p>
<p>fdfsdf</p>
<p>fdfsdf</p>

<h1 mat-dialog-title>Nueva configuración</h1>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Configuración nombre</mat-label>
        <input matinput type="text" [(ngModel)]="configuracionSua.confSuaNombre" name="confSuaNombre">
    </mat-form-field>

    <form [formGroup]="configuracionForm" (ngSubmit)="agregarLinea()">
        <mat-form-field>
            <mat-label>Id</mat-label>
            <input type="text" formControlName="confSuaNId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input type="text" formControlName="confSuaNNombre">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <input type="text" formControlName="confSuaNTipo">
        </mat-form-field>
        <div>
            <button type="submit" [disabled]="!configuracionForm.valid" mat-raised-button>+</button>
        </div>
    </form>
</div>
<div>
    <h5>Niveles</h5>
    <table>
        <tr>
            <th>No.</th>
            <th>Archivo</th>
            <th>Columna</th>
        </tr>
        <tr *ngFor="let item of configuracionSuaNivelC">
            <th>{{item.confSuaNCId}}</th>
            <th>{{item.ConfiguracionSuaNivel.confSuaNNombre}}</th>
            <th>{{item.excelColumna.excelColumnaNombre}}</th>
        </tr>
    </table>
</div>


<div mat-dialog-actions>
    <button mat-raised-button (clicl)="close(configuracionForm)">Cancelar</button>
    <button mat-raised-button color="btn-primary" (click)="guardarConfiguracion()">Gurdar</button>

</div>
 -->
