<nav id="menu" class="navbar navbar-expand-md navbar-dark fixed-top badge-secondary">

    <!-- <a class="navbar-brand"  routerLink="/">{{app_name}}</a> -->
    <!--<a class="navbar-brand " routerLink=""><img class="imgRedonda" src="https://media.licdn.com/dms/image/C4E0BAQGtTED2gCqfwA/company-logo_200_200/0?e=2159024400&v=beta&t=74WfkzA5dSIitR6XKT54Sjsl4uCzBg9WXVPiHGEgczQ"></a>-->
    <a class="navbar-brand " routerLink=""><img class="imgRedonda" src="https://upload.wikimedia.org/wikipedia/commons/1/14/TMF_Group_logo.gif"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="mainNavbar">
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/ConfirmarPago">
            Realizar pago
          </a>
        </li>
  
      </ul> -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" routerLink="/user/registro">
            Nueva cuenta
          </a>
        </li>
        <!--<li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/user/profile">Perfil</a>
        </li>-->
        <li class="nav-item" *ngIf="isLogged">
          <!--<a class="nav-link">Mi información</a>-->
          <a class="nav-link">Reportes</a>
          <ul>
            <li><a routerLink="/catalogos/catalogo-movimientos-u">Comparativo</a></li>
            <!--<li><a routerLink="/catalogos/catalogo-movimientos-u">Movimientos</a></li>
    <li><a routerLink="/catalogos/catalogo-tarjetas-u">Tarjetas</a></li>-->
          </ul>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link">Catálogos</a>
          <ul>
            <!--<li><a routerLink="/catalogos/catalogo-bancos">Bancos</a></li>
    <li><a routerLink="/catalogos/catalogo-movimientos">Movimientos</a></li>
  
    <li><a routerLink="/catalogos/catalogo-servicios">Servicios</a></li>
    <li><a routerLink="/catalogos/catalogo-tarjetas">Tarjetas</a></li>-->
            <!-- <li><a routerLink="/catalogos/catalogo-users">Empleados</a></li> -->
            <li><a routerLink="/catalogos/catalogo-parametros">Parametros</a></li>
            <li><a routerLink="/catalogos/catalogo-roles">Tipos de usuario</a></li>
            <li><a routerLink="/catalogos/catalogo-usuarios">Usuarios</a></li>
  
            <!--<li><a routerLink="/catalogos/catalogo-movimiento-tipo">Tipo de movimiento</a></li>
    <li><a routerLink="/catalogos/catalogo-servicios-tipo">Tipos de servicio</a></li>
    <li><a routerLink="/catalogos/catalogo-tarjeta-tipo">Tipos de tarjeta</a></li>-->
  
          </ul>
        </li>
        <!--<li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link">Servicio</a>
          <ul>
            <li><a routerLink="/ayuda/chatAdmin">Chat</a></li>
          </ul>
        </li>-->
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" routerLink="/user/login">
            Iniciar sesión
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a routerLink="/user/login" class="nav-link" (click)="onLogout()">
            Cerrar sesión
          </a>
          <!--<ul>
            <li><a routerLink="/ayuda/home">Ayuda</a></li>
            <li>
              <a routerLink="/educacion/home">Educación Financiera</a>
            </li>
            <li>
              <a routerLink="/ayuda/AvisoPrivacidad">Aviso de privacidad</a>
            </li>
          </ul>-->
  
  
      </ul>
      <div class='img' *ngIf="isLogged">
        <img class="imgRedondaPerfil" src="{{foto}}">
        <span>{{email}}</span>
      </div>
    </div>
  </nav>
  