<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>
        <rule name="Tmf_Portal_Front" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/Tmf_Portal_Front/" />
        </rule>
      </rules>
    </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="65536" maxQueryString="32768" />
            </requestFiltering>
        </security>
  </system.webServer>
</configuration>