<!-- <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<button (click)="logOutWithGoogle()" >
    Salir Google
  </button>  

    <a class="title" href="/">{{ title }}</a>
  
    <div class="toolbar-spacer"></div>
  
    <a mat-button [routerLink]="['']">Home</a>
  
    <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>

    <br>

    <button (click)="Parametros()">Parametros</button>
    <br>
    <br>
    <button (click)="CerrarSesion()">CerrarSesion</button>

  <div class="container">
    <router-outlet *ngIf="!isIframe"></router-outlet>
  </div> -->