<section id="TMFGroup" class="mt-5">
  <p></p>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-4 mx-auto main-section">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <table class="table">
                <tr>
                  <th scope="col">
                  </th>

                  <th scope="col">
                    <p></p>
                    <h4 class="card-title">Cargar recibos</h4>
                    <p class="card-text">
                      En este módulo podrá cargar recibos de forma masiva.
                    </p>
                    <a
                      routerLink="/recibo/cargar-recibo"
                      class="btn btn-block btn-primary"
                      >Cargar</a
                    >
                  </th>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

