  <section id="TMFGroup" class=" mt-5">
    <p>
    </p>
    <table class="table  ">
      <tr>
        <!-- <th scope="col">
          <div class="container">
            <div class="row">

              <div class="card_book">
                <div class="card">
                  <div class="card-body text-center">
                    <p>
                    </p>
                    <h4 class="card-title">Cargar información</h4>
                    <p class="card-text">
                      Ingrese los Excel que le gustaría comparar.
                    </p>

                    <a routerLink="configuracion/cargarDatos" class="btn btn-block btn-primary">Cargar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th> -->



        <th scope="col">
          <div class="container">
            <div class="row">

              <div class="card_book">
                <div class="card">
                  <div class="card-body text-center">
                    <p>

                    </p>
                    <h4 class="card-title">Descargar reporte</h4>
                    <p class="card-text">
                      En este módulo podrá descargar reportes con respecto a las configuraciones previamente cargadas.
                    </p>
                    <!-- <div class="container-precio-idioma">
                      <p class="badge badge-info">
                        Seleccionar
                      </p>

                    </div> -->
                    <a routerLink="reportes/reporteSua" class="btn btn-block btn-primary">Descargar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th>

        <th scope="col">
          <div class="container">
            <div class="row">
              <div class="card_book">
                <div class="card">
                  <div class="card-body text-center">
                    <p>

                    </p>
                    <h4 class="card-title">Registrar usuario</h4>
                    <p class="card-text">
                      Registre información de sus empleados para que puedan acceder a las funciones del sistema.
                    </p>
                    <!-- <div class="container-precio-idioma">
                      <p class="badge badge-info">
                        Negocios vinculados
                      </p>

                    </div> -->
                    <a routerLink="user/registro" class="btn btn-block btn-primary">Registrar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </table>
  </section>
